<<<<<<< HEAD

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
      min-height: 100vh;
      /* overflow: hidden; */
  }
  /* sidebar */
  .container {
      position: relative;
      width: 100%;
  }
  .navigation {
      position: fixed;
      width: 300px;
      height: 100%;
      background: #000055;
      border-left: 10px solid #000055;
      transition: 0.5s;
      overflow: hidden;
  }
  .navigation ul {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  .navigation ul li {
      position: relative;
      width: 100%;
      list-style: none;
  }
  .navigation ul li :hover { 
      background: white;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
  }
  .navigation ul li:nth-child(1) {
      font-size: 28px;
      margin-bottom: 80px;
      pointer-events: none;
  }
  .navigation ul li a {
      position: relative;
      display: block;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: white;
  }
  .navigation ul li a:hover {
      color: #000055;
  }
  .navigation ul li a .icon {
      position: relative;
      display: block;
      min-width: 60px;
      height: 60px;
      line-height: 70px;
      text-align: center;
  }
  .navigation ul li a .icon ion-icon {
      font-size: 1.75em;
  }
  .navigation ul li a .title {
      position: relative;
      display: block;
      padding: 0 10px;
      height: 60px;
      line-height: 60px;
      text-align: start;
      white-space: nowrap;
  }
  /* main */
  .main {
      position: absolute;
      width: calc(100% - 300px);
      left: 300px;
      min-height: 100vh;
      background: white;
      transition: 0.5s;
  }
  .topbar {
    background: whitesmoke;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
  }
  .search label {
      position: relative;
      width: 100%;
  }
  .search label input{
      width: 100%;
      height: 40px;
      border-radius: 40px;
      padding: 5px 200px;
      outline: none;
      border: 1px solid black;
  }
  .search label ion-icon {
      position: absolute;
      top: 0;
      left: 10px;
      font-size: 1.2em;
  }
  .userName {
      position: relative;
      float: right;
  }
  .user {
      position: relative;
      width: 100px;
      height: 40px;
      /* border-radius: 50%; */
      overflow: hidden;
      cursor: pointer;
  }
  .userName {
      position: absolute;
      font-weight: 600;
      padding-top: 10px;
  }
  .user img {
      position: absolute;
      top: 0;
      /* left: 0; */
      right: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
  }
  .cardBox {
      position: relative;
      width: 100%;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 30px;
  }
  .cardBox .card {
      position: relative;
      background: whitesmoke;
      padding: 30px;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
  }
  .cardBox .card .number {
      position: relative;
      font-weight: 500;
      font-size: 2.5em;
      color: #000055;
  }
  .cardBox .card .cardName {
      color: black;
      font-size: 1em;
      margin-top: 5px;
  }
  .cardBox .card .iconBox {
      font-size: 3.5em;
      color: grey;
  }
  .cardBox .card:hover {
      background: #000055;
  }
  .cardBox .card:hover .number,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBox {
      color: white;
  }
  /* detail */
  .details {
      position: relative;
      width: 100%;
      padding: 20px;
      display: grid;
      /* grid-template-columns: repeat(4, 1); */
      grid-gap: 30px;
  }
  .details .productOrders {
      position: relative;
      display: grid;
      min-height: 400px;
      background: whitesmoke;
      padding: 20px;
      border-radius: 20px;
  }
  .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }
  .cardHeader h2 {
      font-weight: 600;
      color: #000055;
  }
  .btn {
      position: relative;
      padding: 5px 10px;
      background: #000055;
      text-decoration: none;
      color: white;
      border-radius: 6px;
  }
  .details table {
      width: 100%;
      border-collapse: collapse;
  }
  .details table thead td {
      font-weight: 600;
  }
  .details .productOrders table tr {
      color: black;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .details .productOrders table tr:hover {
      background: #000055;
      color: white;
  }
  .details .productOrders table tr td {
      padding: 10px;
  }
  .details .productOrders table tr td {
      text-align: center;
  }
  .status1 {
      padding: 2px 4px;
      background: greenyellow;
      color: black;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
  }
  .status0 {
      padding: 2px 4px;
      background: red;
      color: black;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 500;
  }
  /* tables */
.tables {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: repeat(4, 1); */
    grid-gap: 30px;
    margin-top: 20px;
}
.tables .products {
    position: relative;
    display: grid;
    min-height: 400px;
    background: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}
.cardHeaders {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeaders h2 {
    font-weight: 600;
    color: #000055;
}
.btns {
    position: relative;
    padding: 5px 10px;
    background: #000055;
    text-decoration: none;
    color: white;
    border-radius: 6px;
}
.tables table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.tables table thead td {
    font-weight: 600;
}
.tables .products table tr {
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* .tables .products table tr:hover {
    background: #000055;
    color: white;
} */
.tables .products table tr td {
    padding: 10px;
}
.tables .products table tr td {
    text-align: center;
}

  
  
=======
* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  text-align: center;
}
.menu {
  overflow: hidden;
  background-color: #e9e9e9;
  transition: 0.4s;
  position: relative;
  width: 100%;
  top: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding: 20px 10px;
}

.menu a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-size: 21px;
  text-decoration: none; 
  line-height: 25px;
  border-radius: 4px;
}

.menu-right {
  padding: 0px 50px;
  float: right;
}

.logo {
  padding-left: 50px;
}
.menu .logo a{
  font-weight: bold;
  font-size: 28px;
  transition: 0.4s;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #2196F3;
  color: white;
}

.menu .search-container {
  float: right;
}

.menu input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.menu .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.menu .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 580px) {
  .menu {
    padding: 20px 10px !important;
  }
  .menu .search-container {
    float: none;
  }

  .menu a, .menu input[type=text], .menu .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 50px;
  }

  .menu input[type=text] {
    border: 1px solid #ccc;  
  }

  .menu-right {
    float: none;
  }
}

slideshow session 
.mySlides {display:none;}

/* Products */
.mid {
  width: 100%;
  background-color: none;
  padding-left: 20pt;
}
h1 {
  margin: 0;
  font-size: 40px;
  margin-top: 35pt;
  margin-left: 20pt;
  font-weight: bold;
}
h2 {
  margin: 0;
  margin-left: 20pt;
  margin-top: 30pt;
  margin-bottom: 15pt;
  text-align: center;
  padding-bottom: 10pt;
}
h3 {
  font-family: monospace;
  font-weight: light;
  margin: 0;
  margin-left: 20pt;
  margin-top: 15pt;
  font-size: 16px;
}
h3 a:link, h3 a:visited, h3 a:active, h3 a:hover{
  color: #333;
}
.row {
  background-color: none;
  height: 350pt;
  margin-left: 30pt;
  margin-bottom: 10pt;
  white-space:nowrap
}
.item {
  display: inline-block;
  width: 250pt;
  height: 320pt;
  background-color: #fff;
  border-radius: 6pt;
  margin-right: 15pt;
  transition: 0.2s ease-in-out;
}
.item:link, .item:visited, .item:active {
  color: #333;
  text-decoration: none;
}
.item:hover {
  opacity: 0.75;
  transform: scale(0.98);
  color: #333;
  text-decoration: none;
  box-shadow: 11px 11px 11px rgba(33,33,33,.2)}
.image {
  height: 260pt;
  width: 250pt;
  backgroud-color: #dddddd;
  border-radius: 6pt 6pt 0pt 0pt;
  background-size: cover;
  background-position: center center;
}
.item_description {
  margin: 0;
  padding-top: 5pt;
  font-size: 17px;
  margin-left: 10pt;
  margin-right: 10pt;
  text-align: center;
  font-family: monospace;
}

/* footer session */
.footer-distributed{
  background: #e9e9e9;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}
.footer-distributed .footer-left h3 span{
  font-weight: bold;
  font-size: 28px;
  transition: 0.4s;
}
/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  color: black;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #000000;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  black;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #000;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
>>>>>>> main
